<section class="h-screen flex items-center justify-center relative">
  <div class="text-center text-white relative z-10">
    <h1 class="text-5xl font-bold">Hola, soy <span class="text-blue-200">Carlos Leon Rupay</span></h1>
    <p class="text-lg mt-4">Frontend Developer - Software Engineer</p>

    <div *ngIf="showButton">
      <a routerLink="/perfil" class="mt-6 px-6 py-3 bg-blue-600 text-white rounded-full inline-block hover:bg-blue-700 transition">
        Conóceme
      </a>
    </div>
  </div>
</section>
